section{
    background: #bbdcf8;
    height: 100vh;
}

table{
    width: 85%;
    border: solid 1px #a6a6a6;
    margin: auto;
}
th{
    background: #b0ccff;
}
td,th{
    border: solid 1px #d6d6d6;
}

img{
    width: 21px;
    cursor: pointer;
}